[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
src = {editable = true, file = "file:///Users/mnktech/Documents/GitHub/masters-thesis"}
coverage = "==6.3.1"
flake8 = "==4.0.1"
python-dotenv = "==0.19.2"
pathlib2 = "==2.3.7.post1"
Sphinx = "==4.4.0"
absl-py = "==1.0.0"
aiohttp = "==3.8.1"
aiohttp-retry = "==2.4.6"
aiosignal = "==1.2.0"
alabaster = "==0.7.12"
appdirs = "==1.4.4"
appnope = "==0.1.2"
arrow = "==1.2.2"
asttokens = "==2.0.5"
astunparse = "==1.6.3"
async-timeout = "==4.0.2"
asyncssh = "==2.8.1"
atpublic = "==3.0.1"
attrs = "==21.4.0"
autopep8 = "==1.6.0"
backcall = "==0.2.0"
binaryornot = "==0.4.4"
black = "==22.1.0"
botocore = "==1.24.3"
cachetools = "==5.0.0"
certifi = "==2021.10.8"
cffi = "==1.15.0"
chardet = "==4.0.0"
charset-normalizer = "==2.0.12"
cloudpickle = "==2.0.0"
colorama = "==0.4.3"
commonmark = "==0.9.1"
configobj = "==5.0.6"
cookiecutter = "==1.7.3"
cryptography = "==36.0.1"
cycler = "==0.11.0"
debugpy = "==1.5.1"
decorator = "==5.1.1"
dictdiffer = "==0.9.0"
diskcache = "==5.4.0"
distro = "==1.6.0"
dlib = "==19.23.0"
docutils = "==0.15.2"
dpath = "==2.0.5"
dulwich = "==0.20.32"
entrypoints = "==0.4"
executing = "==0.8.2"
flatbuffers = "==2.0"
flatten-dict = "==0.4.2"
"flufl.lock" = "==7.0"
fonttools = "==4.29.1"
frozenlist = "==1.3.0"
fsspec = "==2022.1.0"
ftfy = "==6.0.3"
funcy = "==1.17"
future = "==0.18.2"
gast = "==0.5.3"
gitdb = "==4.0.9"
google-api-core = "==2.5.0"
google-api-python-client = "==2.36.0"
google-auth = "==2.6.0"
google-auth-httplib2 = "==0.1.0"
google-auth-oauthlib = "==0.4.6"
google-pasta = "==0.2.0"
googleapis-common-protos = "==1.54.0"
grandalf = "==0.6"
grpcio = "==1.44.0"
h5py = "==3.6.0"
httplib2 = "==0.20.4"
idna = "==3.3"
imagesize = "==1.3.0"
imbalanced-learn = "==0.9.0"
importlib-metadata = "==4.11.1"
ipykernel = "==6.9.1"
ipython = "==8.0.1"
jedi = "==0.18.1"
jinja2-time = "==0.2.0"
jmespath = "==0.10.0"
joblib = "==1.1.0"
jupyter-client = "==7.1.2"
jupyter-core = "==4.9.2"
keras = "==2.8.0"
kiwisolver = "==1.3.2"
libclang = "==13.0.0"
llvmlite = "==0.38.0"
mailchecker = "==4.1.11"
matplotlib = "==3.5.1"
matplotlib-inline = "==0.1.3"
mccabe = "==0.6.1"
multidict = "==6.0.2"
mypy-extensions = "==0.4.3"
nanotime = "==0.5.2"
nest-asyncio = "==1.5.4"
networkx = "==2.6.3"
numba = "==0.55.1"
numpy = "==1.21.5"
oauth2client = "==4.1.3"
oauthlib = "==3.2.0"
opencv-python = "==4.5.5.62"
opt-einsum = "==3.3.0"
pandas = "==1.4.1"
parso = "==0.8.3"
pathspec = "==0.9.0"
pexpect = "==4.8.0"
phonenumbers = "==8.12.42"
pickleshare = "==0.7.5"
platformdirs = "==2.5.0"
ply = "==3.11"
poyo = "==0.5.0"
prompt-toolkit = "==3.0.28"
protobuf = "==3.19.4"
psutil = "==5.9.0"
ptyprocess = "==0.7.0"
pure-eval = "==0.2.2"
pyasn1 = "==0.4.8"
pyasn1-modules = "==0.2.8"
pycodestyle = "==2.8.0"
pycparser = "==2.21"
pydot = "==1.4.2"
pyflakes = "==2.4.0"
pygit2 = "==1.7.2"
pygtrie = "==2.4.2"
pyparsing = "==3.0.7"
python-benedict = "==0.24.3"
python-dateutil = "==2.8.2"
python-fsutil = "==0.6.0"
python-slugify = "==5.0.2"
pytz = "==2021.3"
pyzmq = "==22.3.0"
requests = "==2.27.1"
requests-oauthlib = "==1.3.1"
rich = "==11.1.0"
rsa = "==4.7.2"
"ruamel.yaml" = "==0.17.20"
"ruamel.yaml.clib" = "==0.2.6"
s3transfer = "==0.5.1"
scikit-learn = "==1.0.2"
scipy = "==1.8.0"
scmrepo = "==0.0.7"
shap = "==0.40.0"
shortuuid = "==1.0.8"
shtab = "==1.5.3"
six = "==1.16.0"
sklearn = "==0.0"
slicer = "==0.0.7"
smmap = "==5.0.0"
snowballstemmer = "==2.2.0"
sphinxcontrib-applehelp = "==1.0.2"
sphinxcontrib-devhelp = "==1.0.2"
sphinxcontrib-htmlhelp = "==2.0.0"
sphinxcontrib-jsmath = "==1.0.1"
sphinxcontrib-qthelp = "==1.0.3"
sphinxcontrib-serializinghtml = "==1.1.5"
stack-data = "==0.2.0"
tabulate = "==0.8.9"
tensorboard = "==2.8.0"
tensorboard-data-server = "==0.6.1"
tensorboard-plugin-wit = "==1.8.1"
tensorflow = "==2.8.0"
tensorflow-io-gcs-filesystem = "==0.24.0"
termcolor = "==1.1.0"
text-unidecode = "==1.3"
tf-estimator-nightly = "==2.8.0"
threadpoolctl = "==3.1.0"
toml = "==0.10.2"
tomli = "==2.0.1"
tornado = "==6.1"
tqdm = "==4.62.3"
traitlets = "==5.1.1"
typing-extensions = "==4.1.1"
uritemplate = "==4.1.1"
urllib3 = "==1.26.8"
voluptuous = "==0.12.2"
wcwidth = "==0.2.5"
wrapt = "==1.13.3"
xmltodict = "==0.12.0"
yarl = "==1.7.2"
"zc.lockfile" = "==2.0"
zipp = "==3.7.0"
Babel = "==2.9.1"
GitPython = "==3.1.26"
Jinja2 = "==3.0.3"
Keras-Preprocessing = "==1.1.2"
Markdown = "==3.3.6"
MarkupSafe = "==2.1.0"
Pillow = "==9.0.1"
PyDrive2 = "==1.10.0"
Pygments = "==2.11.2"
pyOpenSSL = "==22.0.0"
PyYAML = "==5.4.1"
Werkzeug = "==2.0.3"
youtube_dl = "==2021.12.17"

[dev-packages]
autopep8 = "*"
ipykernel = "*"

[requires]
python_version = "3.9"
